*{
	margin:0;
	padding:0;
}
#rapper{
	width:970px;
	height: 1050px;
	background-color:blue;
}
#header{
	width:700px;
	background-color: green;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 50px;

}
#logo{
	width:100px;
	height: 100px;
	background-color: purple;
	display: inline-block;
}
#header a{
	width:50px;
	height: 25px;
	background-color: red;
	vertical-align: center;
	text-align: center;
}
#gobut{
	width:15px;
}